<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project I - Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>
    <div class="container">
        <h1>Image Classification for Medical Diagnoses</h1>
        <div class="card-container">
            <a href="/upload-brain" class="card">
                <h2>Brain Tumor Classification</h2>
                <p>Upload an MRI scan to detect brain tumors.</p>
            </a>
            <a href="/upload-pneumonia" class="card">
                <h2>Pneumonia Classification</h2>
                <p>Upload a chest X-ray to detect pneumonia.</p>
            </a>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
</body>
</html>
